html,body
{
    background-color:#FFFFFF;
    color: black;
    font-family: arial, Helvetica, sans-serif;
    font-size: small;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

form
{
    display:inline;
}

.global_page_box
{
    width: 768px;
    overflow:hidden;
    background-color: white;
    color: black;
    position: relative;
    top: 30px;
    left: 0;
}

.global_page_content
{
  overflow: hidden;
  width:100%;
  height: 100%;
}

.global_header_box
{
    border-top:3px solid white;
    background-color:#FFFFFF;
    color: black;
    min-height: 146px;
    position: relative;
}


.global_navigation_bar2 
{
    color: #005399;
    font-weight: normal;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    text-align: right;
    top: 115px;
    width: 100%;
}

.global_navigation_bar2 li
{
  

  font-size:.9em;
list-style-type: none;
  display:inline;
  padding:0 .1em 0 .1em;


}

.global_navigation_bar2 a
{
  color: #005399;
  text-decoration:none;
}

.global_navigation_bar2 a:link
{
  color: #005399;
  text-decoration:none;
}

.global_navigation_bar2 a:visited
{
  color: #005399;
  text-decoration:none;
}

.global_navigation_bar2 a:active
{
  color: #005399;
  text-decoration:none;
}

.global_navigation_bar2 a:hover
{
  color: #005399;
  text-decoration:underline;
}

.global_breadcrumbs
{
  background-color: white;
  color: #005399;
  font-size: 7.5pt;
  padding:.4em 0 0 .25em;
  
	height: 14px;
}

.global_breadcrumbs a:link
{
  background-color: white;
  color: #005399;
  text-decoration:none;
}

.global_breadcrumbs a:visited
{
  background-color: white;
  color: #005399;
  text-decoration:none;
}

.global_breadcrumbs a:active
{
  background-color: white;
  color: #005399;
  text-decoration:none;
}

.global_breadcrumbs a:hover
{
  background-color: white;
  color: #005399;
  text-decoration: underline;
}

#footer
{
    position:relative;
    float:left;
    text-align:center;
    width:100%;
    font-size:16px;
}

#main_footer
{
    width:770px;
    position:relative;
    float:left;
    text-align:center;
}
.footer_section
{
    position:relative;
    float:left;
    padding-right: 1.2em;
}


#footer_wrapper
{
    position:relative;
    float:clear;
    padding-top:25px;
    margin:0 auto;
    width:770px;
}

.footer_list
{
    margin:0;
    list-style-type:none;
    padding-left:0px;
}
.footer_list li
{
    font-size:.6em;
    text-align:left;
    color:#333;
    line-height:1.3em;
}

.footer_list a:hover, .footer_list a:visited, .footer_list a:link, .footer_list a:focus 
{
    text-decoration:none;
    color:#333;
}

.footer_section_icon
{
    position:relative;
    float:right;
}
.footer_list_icon
{
    margin:0;
    list-style-type:none;
    padding-left:0px;
    text-decoration:none;
}
.footer_list_icon li
{
    font-size:.6em;
    text-align:left;
    line-height:1.3em;
}

.footer_list_icon a:hover, .footer_list_icon a:visited, .footer_list_icon a:link, .footer_list_icon a:focus 
{
    text-decoration:none;
    color:#333;
}
#footer_icons a img {
    padding-right:3px;
}
#footer_icons 
{
    padding-top:8px;
    padding-bottom:8px;
}

#footer_bottom
{
    position:relative;
    float:left;
    text-align:center;
    width:100%;
    padding-top:25px;
    padding-bottom:25px;
    color:#333;
    font-size:.6em;
    line-height:1.2em;
}
.footer_bottom 
{
    background-color: white;
    color: #333;
    font-size: 0.6em;
    left: 0;
    position: relative;
    text-align: center;
}
.footer_bottom ul 
{
    display: inline;
}
.footer_bottom li 
{
    display: inline;
    list-style-type: none;
    padding-bottom: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0;
}
.footer_bottom a:hover, .footer_bottom a:visited, .footer_bottom a:link, .footer_bottom a:focus 
{
   text-decoration:none;
   color: #333;
}
.footer_bottom_list 
{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.search-input-wrapper
{
    position:relative;
    float:left;
    width:6em;
    height:1.3em;
}
.search-input
{
    border:0em;
    border-width:0em;
    color:#666;
    padding-top:.15em;
    vertical-align:center;
    padding-left:.2em;
    height:1.2em;
    outline:none; 
}

.search-go
{
    position:relative;
    float:right;
    background-color: #E0AA0F;
    color:white;
    height:1.3em;
    width:1.5em;
}
#search-button
{
    position:relative;
    float:left;
    font-size:.7em;
    font-weight:bold;
    padding:.2em 0 0 .35em;
    cursor:pointer;
}

#search-wrapper
{
    position:absolute;
    right:0em;
    border:1px solid #666;
    width:9.7em;
    height:1.3em;
    font-size:medium;
    line-height:16px;
}

.page_content
{
   color: black;
   background-color: inherit;
   position: relative;
   top:0;
   left: 0;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   height: 100%;
}

.page_account_links
{
  text-align:right;
  height: 14px;
}

.page_nav_links
{
 background:white url("http://www.kirkwood.edu/images/gradient_yellow_vert.jpg") repeat-x;
 width: 168px;
 height: 100%;
 color:#005399;
 position: relative;
 top: 0px;
 bottom: 0px;
}

.page_nav_links ul
{
 padding: 0px;
 margin: 0px;
}


.page_nav_links li
{
  list-style-type: none;
  padding-top: .9em;
  padding-left: 6px;
  padding-right: 3px;
  font-weight: bold;
}

.page_nav_links a:link
{
  text-decoration: none;
  color:#005399;
  background-color: inherit;
  text-decoration: none;
}

.page_nav_links a:visited
{
  text-decoration: none;
  /*color:#7e375f;*/
  color: #005399;
  background-color: inherit;
  text-decoration: none;
  font-style: italic;
  /*border-bottom: 1px inset #e0aa0f;*/
}

.page_nav_links a:active
{
  text-decoration: none;
  color:#005399;
  background-color: inherit;
  text-decoration: none;
}

.page_nav_links a:hover
{
  text-decoration: none;
  color:#256BEB;
  background-color: inherit;
  text-decoration: none;
}

.page_account_title
{
  font-size:20pt;
  letter-spacing: -1px;
  color:#005399;
  font-weight: bold;
  position: absolute;
  top: -.6em;
  left: 50px;
  background-color: white;
  padding-right: .5em;
  padding-left: .5em;
  text-decoration: none;
}

.page_account_title a:link
{
  color:#005399;
  background-color: white;
  text-decoration: none;
}

.page_contents
{
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  height: 100%;
}

.page_text_default
{
  margin-top: 18px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 590px;
  height: 100%;
  overflow: hidden;
}


