
* {
	outline: none;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

body {
	background-color: tan;
	font-family: Helvetica, sans-serif;
}

#page {
	margin: auto;
	width: 940px;
	background-color: ivory;
	position: relative;
	padding: 1em;
}

#page h1 {
	text-align: center;
	color: blue;
}

#content {
	margin-bottom: 1ex;
}

#left, #leftHeader{
	float: left;
	width: 33%;
}

#leftHeader h3{
	color: blue;
	margin-top: 40px;
	text-align: center;
}

#right, #rightHeader{
	float: right;
	width: 66%;
}

.section {
	padding: 1ex 0ex 1em 2em;
}