a:link
{
   color: #005399;
   text-decoration: underline;
   background-color: inherit;
}

a:visited
{
   color: #7E375F;
   text-decoration: underline;
   background-color: inherit;
}

a:active
{
   color: #256BEB;
   text-decoration: underline;
   background-color: inherit;
}

a:hover
{
   color: #256BEB;
   text-decoration: underline;
   background-color: inherit;
}

 .overflow
 {
	height: 100px; 
 }

.app_tab
{
	display: inline-block;
	border: 0px;
	width: 90%;
}

#middle_initial_label
{
	padding: 0em 0em 0em 4.8em;
}

#last_name_label
{
	padding: 0em 0em 0em 2.75em;
}

#fname {
	width: 125px;
}

#midInitial
{
	width: 50px;
}

#lname {
	width: 125px;
}

#streetaddress {
	width: 200px;
}

#aptnumber {
	width: 40px;
}

#zip {
	width: 50px;
}

.error {
    border: 1px solid red;
}